
<!--<h1><%= message %></h1>-->
<!--<h2><%= error.status %></h2>-->
<!--<pre><%= error.stack %></pre>-->

<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->

    <script  src="../jQuery.js"></script>
    <link rel="stylesheet" type ="text/css" href="../bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../images/not found.jpg" alt="404 Not Found" width="100%"  style="margin-top: 1%;margin-left: 8%;float:left"/>
        </div>
        <div class="col-md-6">
            <div class="row" style="margin-top: 20%">
                <img src="../images/404notfounds.jpg" />
            </div>
            <div class="row">
                <p id="showwords" style="font-size: 30pt;margin-top: 10%">
                    <em>人生若只如初见~</em>
                </p>
            </div>
            <div class="row" style="margin-top: 20%">

                <a href="/">返回首页<span class="glyphicon glyphicon-forward"></span></a>
                <a href="mailto:1242503370@qq.com"style="margin-left: 20%">联系管理<span class="glyphicon glyphicon-forward" ></span></a>

            </div>
        </div>
    </div>
</div>
</body>
</html>
